.renderCategory{
    text-align: center;
    margin-top: 15px;
}
.containerCategory{
    display: inline;
   
}
.category{
    
    margin: 0 0 0 15px;
    font-family: var(--proximaNovaMedium);
    font-weight: var(--weightNormal);
    font-size: var(--categorySize);
}
.container{
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    display : flex;
    justify-content: space-around;
    background-color: white;
}
.titleDetail{
    font-family: var(--proximaNovaMedium);
    font-size: var(--titleDetail);
}
.priceDetail{
    font-family: var(--proximaNovaMedium);
    font-size: var(--priceDetail);
}
.description{
    font-family: var(--proximaNovaMedium);
    font-size: var(--descriptionDetail);
    font-weight: var(--weightDetail);
    color: rgba(60, 60, 60, 0.9);
}
.descriptionText{
    font-family: var(--proximaNovaMedium);
    font-weight: var(--weightSuperLight);
    font-size: var(--textDetail);
    color : var(--descriptionTextColor); 
}
.containerButtons{
    display: flex;
    flex-direction: column;
}
.buttonBuy{
    display: block;
    color:var(--buttonTextColor);
    background-color: var(--buttonColor);
    font-size: var(--buttonSize);
    font-family: var(--proximaNovaLight);
    border-radius: 5px;
    padding: 10px 0;
}
.buttonBuy:hover{
    transition: 0.4s;
    background-color: var(--buttonHoverColor);
}
.buttonSave{
    background-color: var(--buttonSecundaryColor);
    color : var(--buttonSecundaryTextColor);
    font-size: var(--buttonSize);
    font-family: var(--proximaNovaLight);
    border-radius: 5px;
    padding: 10px 0;
}
.buttonSave:hover{
    transition: 0.4s;
    background-color: var( --buttonSecundaryHoverColor);
}
.containerDescription{
    margin: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}