:root{
  /* Colors */
  --primaryColor: #fff159;
  --backgroundColor: #ededed;
  --cardColor: #ffffff;
  --buttonColor: #3483fa;
  --buttonHoverColor: #2968c8;
  /* Font size */
  --titleCard : 20px;
  --titleNavBar : 13px;
  --priceCard : 24px;
  --titleDetail : 22px;
  --priceDetail : 36px;
  --descriptionDetail: 24px;
  --textDetail : 20px;
  --textInput : 15px;
  /* Font weight */
  --weightDetail: 600;
  --weightCard : 300;
  --weightPrice :400;
  /* Font Family */
  --proximaNova : 
}


.App {
  text-align: center;
}



