
.card{
    background-color: var(--cardColor);
    border-radius: 5px;
    display: -webkit-flex;
    height: 200px;
    width: var(--widthCard);
    margin: var(--marginCard);
    padding: var(--paddingCard);
    transition: transform .2s;

}
.card:hover{
    transition: 0.4s;
    transform: scale(1.02)
}
.picture{
    height: 130px;
    width: 130px;
}
.titleCard{
    color : var(--blackColor);
    font-family: var(--proximaNovaLight);
    font-weight: var(--weightSuperLight);
}
.priceCard{
    color : var(--blackColor);
    font-family: var(--proximaNovaLight);
    font-weight: var(--proximaNovaMedium);
    font-size: var(--priceCard);
    display: block;
}
.condition{
    color: var(--conditionNewColor);
    font-size: var(--conditionSize);
    font-family: var(--proximaNovaLight);
    font-weight: var(--proximaNovaMedium);
}
.link{
    text-decoration: none;
}
.containerItems{
    padding-left: 20px;
}