.renderCategories{
    text-align: center;
    margin: 5px 0 5px 0;
}
.containerCategory{
    display: inline;
}
.category{
    margin: 0 0 0 15px;
    font-family: var(--proximaNovaMedium);
    font-weight: var(--weightNormal);
    font-size: var(--categorySize);
}