/* Estilos NavBar */

.bodyNavBar {
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  padding: 20px;
  user-select: none;
}
.containerNavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  display: flex;
  margin: var(--marginForm);
  box-shadow: var(--boxShadowNavBar);
}

.inputForm {
  padding: var(--inputNavSize);
  border: none;
  border-radius: 2px;
  font-size: var(--textInput);
  font-family: var(--proximaNovaLight);
}

.buttonSubmit {
  border: none;
  border-left: 1px solid #ededed;
  cursor: pointer;
}

input::placeholder {
  font-size: var(--titleNavBar);
  font-family: var(--proximaNovaMedium);
}
